.display-recipes-container {
  background-color: #89CFF0;
  padding: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.card-title {
  font-weight: bold;
}

.card-text {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 5px 10px;
  text-decoration: none;
}