.display-recipes-container {
  background-color: #89CFF0;
  padding: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.card-title {
  font-weight: bold;
}

.card-text {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 5px 10px;
  text-decoration: none;
}

.error-message {
  color: #d9534f; 
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}

.loading-message {
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
  color: #666; 
}

.loading-message::after {
  content: "..."; 
  animation: ellipsis 1s infinite;
}

@keyframes ellipsis {
  0%, 100% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
}